
.card {
  width: 250px;
  height: 350px;
  margin: auto !important;
  margin-bottom: 20px !important;
  overflow: auto;
}

card-list {
  display: grid;
  grid-template-colums: repeat(auto-fill, minmax(250px, 1fr));
}